.not-found-container{
    height: 50vh;
    text-align: center;
    background: linear-gradient(rgba(59, 216, 255, 0.6), rgba(171, 238, 255, 0.6)) bottom;
    h2{
        font-size: 3rem;
        padding-top: 4rem;
    }
    p{
        padding: 1rem;
    }
}
