ul.listing.posts {
    margin-top: 2rem;

    >li {
        padding: 2rem 0;
        text-align: center;

        h3,
        span.date {
            display: block;
            padding: 1rem 0;
        }

        >div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            img {
                max-width: 45%;
                height: auto;
                margin: 1rem;
                border: 2px solid rgba(black, 0.5);
            }

            div {
                max-width: 40%;
                margin: 1rem 1rem 1rem 2rem;
                text-align: left;

                p {
                    padding-bottom: 1rem;
                }
            }
        }
    }

    >li:after {
        content: "";
        position: absolute;
        left: calc(50vw - 15rem);
        height: 1px;
        width: 30rem;
        margin-top: 1rem;
        background-color: black;
    }
}

ul.listing.posts:before {

    content: "";
    position: absolute;
    left: calc(50vw - 15rem);
    height: 1px;
    width: 30rem;
    margin-top: -1rem;
    background-color: black;
}

@media screen and (max-width: 720px) {
    ul.listing.posts {
        >li {
            >div {

                img,
                div {
                    max-width: 80%;
                }
            }
        }
    }
}
