.marketplace{
    ul.listing.marketplace{
        display: flex;
        flex-flow: row column;
        flex-wrap: wrap;
        li{
            background-color: rgb(255, 232, 189);
            margin: 1rem 4rem;
            width: 20vw;
            border: 3px solid rgba(black, 0.5);
            padding-bottom: 2rem;
            text-align: center;
            overflow: hidden;

            h3{
                padding: 0.5rem 0;
            }
            .car-info{
                img{
                    max-width: 100%;
                    width: auto;
                    height: 40%;
                }
                p{
                    padding: 0.5rem 0;
                }
                p:last-child{
                    padding-bottom: 2rem;
                }
            }
        }

        li:hover{
            border: 3px solid rgb(163, 6, 6);
        }
    }
}
