#nav-checkbox,
#toggle {
    display: none;
}

.site-header {
    background-color: rgb(255, 206, 151);
    padding: 2rem;

    .navigation {
        padding-top: 2rem;

        ul {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            li {
                border: 1px solid transparent;
                height: 2rem;
                padding-left: 1rem;
                opacity: 0;
                animation: slideInLeft 0.3s 1 ease forwards;

                a {
                    padding: 0 0.2rem;
                    margin: 0.2rem 0;
                }

                ul {
                    display: block;
                    opacity: 0;
                    position: absolute;
                    width: 10rem;
                    transform: translateY(2rem);
                    text-align: left;
                    background-color: rgb(255, 206, 151);
                    border-radius: 10%;
                    border-top: 1em solid transparent;
                    margin-left: -1rem;
                    pointer-events: none;
                }
            }

            li:nth-child(1) {
                animation-delay: 0;
            }

            li:nth-child(2) {
                animation-delay: 0.2s;
            }

            li:nth-child(3) {
                animation-delay: 0.4s;
            }

            li:nth-child(4) {
                animation-delay: 0.6s;
            }

            li:nth-child(5) {
                animation-delay: 0.8s;
            }

            li:nth-child(6) {
                animation-delay: 1s;
            }

            li:nth-child(7) {
                animation-delay: 1.2s;
            }

            li:hover>a,
            li:active>a {
                color: rgb(163, 6, 6);
                border-top: 1px solid rgb(163, 6, 6);
                border-bottom: 1px solid rgb(163, 6, 6);
                border-radius: 6px;
                transition: 0.4s ease-out;
                padding: 0.2rem;
            }

            li:hover,
            li:active {
                ul {
                    transform: translateY(0);
                    transform: translateX(-3rem);
                    opacity: 0;
                    animation: slideInLeft 0.5s 1 ease forwards;
                    pointer-events: inherit;
                }
            }
        }
    }
}



@media screen and (max-width: 640px) {

    #toggle {
        display: block;
        text-align: center;
        padding: 1rem 0 1rem 1rem;
    }

    #toggle:hover,
    #toggle:active {
        color: rgb(163, 6, 6);
    }

    nav {
        display: none;
    }

    #nav-checkbox:checked+header nav {
        display: block;
        position: relative;
        padding: 0;
        text-align: center;
    }

    #nav-checkbox:checked+header nav>ul {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    #nav-checkbox:checked+header nav ul li ul {
        margin-top: -3.5rem;
        position: relative;
        margin-left: 15rem;
        background: none;
        padding-top: 0;
        border-top: 0;
    }
}
