:root {
    --font-size-initial: 12px;
    --font-size-smartphone-large: 13px;
    --font-size-phablet: 14px;
    --font-size-tablet-small: 15px;
    --font-size-tablet-large: 16px;
    --font-size-laptop: 18px;
    --font-size-desktop: 20px;
    --desktop-size: 1600px;
    --laptop-size: 1024px;
    --tablet-large-size: 1600px;
    --tablet-small-size: 960px;
    --phablet-size: 640px;
    --smartphone-large-size: 480px;
    --smartphone-small-size: 320px;
}

html {
    font-size: var(--font-size-initial, 12px);
    font-family: "Montserrat", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2{
    text-align: center;
    padding: 1rem 0;
}

@media screen and (min-width: 480px) {
    html {
        font-size: var(--font-size-smartphone-large, 13px);
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: var(--font-size-phablet, 14px);
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: var(--font-size-tablet-small, 15px);
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: var(--font-size-tablet-large, 16px);
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: var(--font-size-laptop, 18px);
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: var(--font-size-desktop, 20px);
    }
}
