html {
    font-size: var(--font-size-initial, 12px);
    font-family: "Montserrat", sans-serif;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    h1,
    h2 {
        font-family: "Cormorant SC", serif;
        font-weight: normal;
    }

    h1 {
        font-size: 250%;
    }

    h2 {
        text-align: center;
        padding: 1rem 0;
        font-size: 150%;
    }

    ul.listing.posts {

        span.date {
            font-style: italic;
            font-weight: lighter;
        }
    }

    ::placeholder {
        font-weight: lighter;
    }

    .about {
        h3 {
            font-weight: lighter;
        }

        .person .occupation {
            font-style: italic;
            font-weight: lighter;
        }
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: var(--font-size-smartphone-large, 13px);
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: var(--font-size-phablet, 14px);
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: var(--font-size-tablet-small, 15px);

        h1 {
            font-size: 300%;
        }

        h2 {
            font-size: 200%;
        }
    }
}

@media screen and (min-width: 960px) {
    html {
        font-size: var(--font-size-tablet-large, 16px);
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: var(--font-size-laptop, 18px);
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: var(--font-size-desktop, 20px);
    }
}
