:root {
    --font-size-initial: 12px;
    --font-size-smartphone-large: 13px;
    --font-size-phablet: 14px;
    --font-size-tablet-small: 15px;
    --font-size-tablet-large: 16px;
    --font-size-laptop: 18px;
    --font-size-desktop: 20px;
    --desktop-size: 1600px;
    --laptop-size: 1024px;
    --tablet-large-size: 960px;
    --tablet-small-size: 768px;
    --phablet-size: 640px;
    --smartphone-large-size: 480px;
    --smartphone-small-size: 320px;
}
