<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="../css/styles.css" type="text/css" />
    </head>

    <body>
        <div class="site">
            <input type="checkbox" id="nav-checkbox" name="nav-checkbox">
            <header class="site-header">
                <h1><a href="{{site.baseurl}}/">AutoHub</a></h1>
                <h3>Everything you need to know about cars. In one single page.</h3>
                <label for="nav-checkbox" id="toggle"><i class="fas fa-bars"></i></label>
                <nav class="navigation" id="navigation">
                    <ul>
                        <li><a href="{{site.baseurl}}/">Home</a></li>
                        <li>
                            <a href="#">Blog</a>
                            <ul>
                                <li><a href="{{site.baseurl}}/news/">News</a></li>
                                <li><a href="{{site.baseurl}}/sport/">Sports</a></li>
                                <li><a href="{{site.baseurl}}/tips-and-tricks/">Tips & Tricks</a></li>
                            </ul>
                        </li>
                        <li><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
                        <li><a href="{{site.baseurl}}/marketplace/">Marketplace</a></li>
                        <li><a href="{{site.baseurl}}/about/">About us</a></li>
                        <li><a href="{{site.baseurl}}/contacts/">Contacts</a></li>
                    </ul>
                </nav>
            </header>
            <main class="site-content">
                {{content}}
            </main>
            <footer class="site-footer">
                <div class="site-footer-main">
                    <section class="links">
                        <p>Site Links</p>
                        <ul>
                            <li><a href="{{site.baseurl}}/">Home</a></li>
                            <li class="footer-articles-li"><a href="{{site.baseurl}}/news/">News</a></li>
                            <li class="footer-articles-li"><a href="{{site.baseurl}}/sport/">Sports</a></li>
                            <li class="footer-articles-li"><a href="{{site.baseurl}}/tips-and-tricks/">Tips & Tricks</a></li>
                            <li><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
                            <li><a href="{{site.baseurl}}/marketplace/">Marketplace</a></li>
                            <li><a href="{{site.baseurl}}/about/">About us</a></li>
                            <li><a href="{{site.baseurl}}/contacts/">Contacts</a></li>
                        </ul>
                    </section>
                    <section class="social">
                        <p>Find us on: </p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </section>
                </div>
                <div class="site-footer-footer">
                    <p><a href="{{site.baseurl}}/">© 2018 Autohub</a></p>
                </div>
            </footer>
        </div>
    </body>

</html>
