<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
    </head>

    <body>
        <div class="site">
            <input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
            <header class="site-header">
                <h1>AutoHub</h1>
                <h3>Everything you need to know about cars. In one single page.</h3>
                <nav class="navigation">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li>
                            <ul>
                                <li><a href="../news.html">News</a></li>
                                <li><a href="../sport.hml">Sports</a></li>
                                <li><a href="../tips-and-tricks.html">Tips & Tricks</a></li>
                            </ul>
                            <a href="#">Articles</a>
                        </li>
                        <li><a href="../gallery.html">Gallery</a></li>
                        <li><a href="../marketplace.html">Marketplace</a></li>
                        <li><a href="../about.html">About us</a></li>
                        <li><a href="../contacts.html">Contacts</a></li>
                    </ul>
                </nav>
            </header>
            <main class="site-content">
                {{content}}
            </main>
            <footer class="site-footer">
                <main>
                    <section>
                        <p>Site Links</p>
                        <ul>
                            <li><a href="../index.html">Home</a></li>
                            <li>Articles</li>
                            <li class="footer-articles-li"><a href="../news.html">News</a></li>
                            <li class="footer-articles-li"><a href="../sport.hml">Sports</a></li>
                            <li class="footer-articles-li"><a href="../tips-and-tricks.html">Tips & Tricks</a></li>
                            <li><a href="../gallery.html">Gallery</a></li>
                            <li><a href="../marketplace.html">Marketplace</a></li>
                            <li><a href="../about.html">About us</a></li>
                            <li><a href="../contacts.html">Contacts</a></li>
                        </ul>
                    </section>
                    <section>
                        <p>Find us on: </p>
                        <ul>
                            <li><a href="#"><i></i></a></li>
                            <li><a href="#"><i></i></a></li>
                            <li><a href="#"><i></i></a></li>
                        </ul>
                    </section>
                </main>
                <footer class="site-footer-footer">
                    <p><a href="../index.html">© 2018 Autohub</a></p>
                </footer>
            </footer>
        </div>
    </body>

</html>
